html , body {
  margin: 0;
  background-image : url("../img/intro.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  margin: 0 auto;
  height: 100%;
}

#content h1 {
  font-size:        2rem;
  text-transform:   uppercase;
  margin-top:       0;
  letter-spacing:   .3rem;
}

.container #content {
  position: fixed;
  font-family:  LiHei Pro;
  font-weight:  70; 
  text-align:   center;
  background:   rgba(0,0,0,0.3);
  color:        white;
  padding:      2rem;
  width:        25%;
  margin:       3rem;
  font-size:    1.2rem;
}

#content button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#content button:hover { 
   background: rgba(0,0,0,0.5);
}